h1 {
    color: rgb(147, 49, 0);
    width: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 20px 20 ;
}
html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif;
    background-color: #e3ccb9;
}
body {
    width: 700px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }
  
li,
p{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
} 

img{
    width: 500px;
    display: block;
    margin: 0 auto;
}
button{
    width: 100px;
    text-align: center;
    background-color: #e3ccb9;
    font-family: "Open Sans", sans-serif;
}
